

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

#platform-redesign {
  overflow-x: hidden;
}
#platform-redesign .md {
  display: none;
}
#platform-redesign .header-image {
  background-image: url("https://freight.cargo.site/t/original/i/20a33abc2b6b06dc91e0c8c832daff12545096e09e7ae48c206ddc5d08844353/header.png");
  height: 400px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#platform-redesign .description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  padding: 100px;
  background-color: #F9F9F9;
}
#platform-redesign .description .title {
  color: #868686;
  margin-bottom: 10px;
}
#platform-redesign .description .role-text {
  color: #3F3F3F;
}
#platform-redesign .description .role-text span {
  font-weight: 700;
}
#platform-redesign .description .project-text {
  white-space: nowrap;
  margin-top: 10px;
  color: #3F3F3F;
}
#platform-redesign .background {
  background-color: #3F3F3F;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#platform-redesign .background .section-name {
  margin-bottom: 15px;
  color: #ffffff;
}
#platform-redesign .background .section-title {
  margin-bottom: 100px;
  color: #FFFFFF;
}
#platform-redesign .user-insights {
  padding: 100px 90px 50px;
  background-color: #F9F9F9;
}
#platform-redesign .user-insights .section-name {
  color: #3F3F3F;
}
#platform-redesign .user-insights .inner-title {
  color: #3F3F3F;
  margin-top: 100px;
  margin-bottom: 50px;
}
#platform-redesign .user-insights .user-insights-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
  margin-top: 50px;
}
#platform-redesign .user-insights .user-insights-cards .card {
  border: 1px solid #E1E1E1;
  background-color: #FFFFFF;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
#platform-redesign .user-insights .user-insights-cards .card img {
  margin: 0 auto;
  border: 2px solid #FFFFFF;
}
#platform-redesign .user-insights .user-insights-cards .card .name {
}
#platform-redesign .user-insights .user-insights-cards .card .text {
}
#platform-redesign .stakeholder-insights {
  padding: 100px;
}
#platform-redesign .stakeholder-insights .inner-title {
  color: #3F3F3F;
  margin-bottom: 50px;
  text-align: center;
}
#platform-redesign .stakeholder-insights .inner-text {
  color: #868686;
  text-align: center;
  margin-bottom: 50px;
}
#platform-redesign .stakeholder-insights .stakeholder-insights-card {
  padding: 20px;
  background: #F9F9F9;
  border: 1px solid #E1E1E1;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.02);
}
#platform-redesign .stakeholder-insights .stakeholder-insights-card img {
  margin: 0 auto;
  width: 100%;
}
#platform-redesign .stakeholder-insights .stakeholder-insights-card .name {
  color: #3F3F3F;
  margin-top: 20px;
}
#platform-redesign .stakeholder-insights .stakeholder-insights-card .text {
  color: #868686;
  margin-top: 10px;
}
#platform-redesign .conclusions {
  background-color: #3F3F3F;
  padding: 100px;
}
#platform-redesign .conclusions .section-name {
  margin-bottom: 15px;
  color: #FFFFFF;
}
#platform-redesign .conclusions .section-title {
  margin-bottom: 50px;
  color: #FFFFFF;
}
#platform-redesign .conclusions .conclusions-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}
#platform-redesign .conclusions .conclusions-cards .card {
  width: 100%;
}
#platform-redesign .conclusions .conclusions-cards .card img {
  margin-bottom: 25px;
  width: 100%;
}
#platform-redesign .conclusions .conclusions-cards .card .name {
  color: #F9F9F9;
  margin-bottom: 10px;
}
#platform-redesign .conclusions .conclusions-cards .card .text {
  color: #F1F1F1;
}
#platform-redesign .prototiping {
  background-color: #F9F9F9;
  padding: 100px 100px 50px;
}
#platform-redesign .prototiping .section-name {
  color: #000000;
  text-align: center;
  margin-bottom: 15px;
}
#platform-redesign .prototiping .prototiping-wrapper {
  margin-top: 100px;
  max-width: 100%;
}
#platform-redesign .prototiping .prototiping-wrapper img {
  width: 100%;
}
#platform-redesign .user-feedback {
  width: 100%;
  padding: 100px;
}
#platform-redesign .user-feedback .section-subtitle {
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
}
#platform-redesign .user-feedback .user-feedback-cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
#platform-redesign .user-feedback .user-feedback-cards .card {
  background: #F9F9F9;
  width: 100%;
}
#platform-redesign .user-feedback .user-feedback-cards .card img {
  width: 100%;
}
#platform-redesign .user-feedback .user-feedback-cards .main-title {
  color: #adadad;
  margin: 30px 30px 0;
}
#platform-redesign .user-feedback .user-feedback-cards .name {
  color: #000000;
  margin: 5px 30px 15px;
}
#platform-redesign .user-feedback .user-feedback-cards .text {
  color: #adadad;
  margin: 0 30px 30px;
}
#platform-redesign .feat-func {
  padding: 100px;
  background-color: #F9F9F9;
}
#platform-redesign .feat-func .section-name {
  margin-bottom: 15px;
  padding-top: 100px;
  position: relative;
}
#platform-redesign .feat-func .section-name::before {
  position: absolute;
  top: 0;
  left: 100px;
  width: 83%;
  content: "";
  background-color: #E1E1E1;
  height: 1px;
}
#platform-redesign .feat-func .section-title {
  margin-bottom: 100px;
}
#platform-redesign .feat-func .laptop {
  background-color: #FFFFFF;
  padding: 50px;
}
#platform-redesign .feat-func .laptop img {
  width: 100%;
}
#platform-redesign .feat-func .laptop .title {
  padding: 50px 50px 0;
  color: #000000;
}
#platform-redesign .feat-func .laptop .text {
  padding: 10px 50px 0;
  color: #868686;
}
#platform-redesign .feat-func .laptops {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
#platform-redesign .feat-func .laptops .inner-laptop {
  width: 100%;
  background-color: #FFFFFF;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 50px;
}
#platform-redesign .feat-func .laptops .inner-laptop:first-child {
  margin-bottom: 100px;
}
#platform-redesign .feat-func .laptops .inner-laptop:first-child::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  bottom: -50px;
  left: 0;
}
#platform-redesign .feat-func .laptops .inner-laptop .text-wrapper {
  max-width: 455px;
}
#platform-redesign .feat-func .laptops .inner-laptop .title {
  color: #000000;
  margin-bottom: 10px;
}
#platform-redesign .feat-func .laptops .inner-laptop .text {
  color: #868686;
}
#platform-redesign .final-outcomes {
  padding: 100px;
  background-color: #3F3F3F;
  width: 100%;
}
#platform-redesign .final-outcomes .section-name {
  margin-bottom: 50px;
  color: #F9F9F9;
}
#platform-redesign .final-outcomes .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 20px;
  color: #FFFFFF;
}
#platform-redesign .final-outcomes .text {
  color: #F9F9F9;
  margin-bottom: 50px;
}
#platform-redesign .footer-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
#platform-redesign .footer-mobile .footer-mobile-wrapper {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 450px;
}
#platform-redesign .footer-mobile .footer-mobile-wrapper:hover {
	  border: 1px solid #ADADAD;
    background-color: #F9F9F9
}
#platform-redesign .footer-mobile .footer-mobile-wrapper .sign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
#platform-redesign .footer-mobile .footer-mobile-wrapper img {
    width: 100%;
}
#platform-redesign .footer-mobile .footer-mobile-wrapper .sign .name {
  color: #3F3F3F;
}
#platform-redesign .footer-mobile .footer-mobile-wrapper .sign .date {
  color: #868686;
}
#platform-redesign .section-name {
}
#platform-redesign .section-title {
  text-align: center;
  color: #3F3F3F;
}
#platform-redesign .inner-title {
  text-align: center;
}
#platform-redesign .section {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1919px) {
  #platform-redesign .section-title {
    max-width: 1440px;
    margin: 0 auto 100px;
  }
  #platform-redesign .header-image {
    background-image: url("https://freight.cargo.site/t/original/i/20a33abc2b6b06dc91e0c8c832daff12545096e09e7ae48c206ddc5d08844353/header.png");
  }
  #platform-redesign .background {
    padding: 100px 180px;
    width: 100%;
  }
  #platform-redesign .prototiping {
    padding: 100px 180px;
    width: 100%;
  }
  #platform-redesign .user-insights {
    padding: 100px 180px 50px;
  }
  #platform-redesign .stakeholder-insights {
    padding: 100px 180px 100px;
  }
  #platform-redesign .conclusions {
    padding: 100px 180px;
    width: 100%;
  }
  #platform-redesign .conclusions .conclusions-cards {
    gap: 100px;
  }
  #platform-redesign .feat-func {
    padding: 100px 180px;
  }
  #platform-redesign .feat-func .laptops .inner-laptop .text-wrapper {
    max-width: 100%;
  }
  #platform-redesign .final-outcomes {
    width: 100%;
    padding: 100px 180px;
  }
  #platform-redesign .footer-mobile {
    padding: 50px 0;
    width: 100%;
  }
  #platform-redesign .footer-mobile .footer-mobile-wrapper {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  #platform-redesign .header-image {
    background-image: url("https://freight.cargo.site/t/original/i/c0ef7db807496e7f3b08a620442cf534a71fed86b8027e3fb75d67d1575f3d21/header-md.png");
  }
  #platform-redesign .background {
    padding: 40px;
    width: 100%;
  }
  #platform-redesign .background .section-title {
    margin-bottom: 40px;
  }
  #platform-redesign .background img {
    width: 100%;
  }
  #platform-redesign .dev-direction {
    max-width: 1200px;
  }
  #platform-redesign .user-insights {
    padding: 40px;
    width: 100%;
  }
  #platform-redesign .stakeholder-insights {
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  #platform-redesign .conclusions {
    padding: 40px;
    width: 100%;
  }
  #platform-redesign .conclusions .conclusions-cards {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #platform-redesign .conclusions .conclusions-cards .card {
    width: 100%;
    max-width: 100%;
  }
  #platform-redesign .conclusions .conclusions-cards .card img {
    max-width: 100%;
    width: 100%;
  }
  #platform-redesign .feat-func {
    padding: 40px 30px;
    max-width: 100%;
  }
  #platform-redesign .feat-func .section-title {
    max-width: 1120px;
    margin: 0 auto 40px;
  }
  #platform-redesign .feat-func .section-name {
    padding-top: 40px;
  }
  #platform-redesign .feat-func .laptops .inner-laptop {
    flex-direction: column;
  }
  #platform-redesign .feat-func .laptops .inner-laptop .text-wrapper {
    max-width: 100%;
  }
  #platform-redesign .feat-func .laptops .inner-laptop .laptop-image {
    width: 100%;
  }
  #platform-redesign .feat-func .laptops .inner-laptop .laptop-image img {
    width: 100%;
  }
  #platform-redesign .final-outcomes {
    width: 100%;
    padding: 40px;
  }
  #platform-redesign .footer-mobile {
    padding: 50px 0;
    width: 100%;
  }
  #platform-redesign .footer-mobile .footer-mobile-wrapper {
    width: 100%;
  }
  #platform-redesign .user-insights .inner-title {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  #platform-redesign .user-insights .user-insights-cards {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  #platform-redesign .user-insights .user-insights-cards .card {
    width: 100%;
  }
  #platform-redesign .user-insights .user-insights-cards .card img {
    width: 100%;
  }
  #platform-redesign .user-feedback {
    padding: 40px;
  }
  #platform-redesign .user-feedback .user-feedback-cards {
    flex-direction: column;
    gap: 40px;
  }
  #platform-redesign .description {
    padding: 40px;
    flex-direction: column;
    gap: 40px;
  }
  #platform-redesign .description .project-wrapper {
    width: 100%;
  }
  #platform-redesign .prototiping {
    padding: 40px;
  }
}
@media (max-width: 992px) {
  #platform-redesign .dev-direction {
    max-width: 100%;
  }
  #platform-redesign .user-insights .user-insights-cards {
    flex-direction: column;
  }
  #platform-redesign .footer-mobile .footer-mobile-wrapper img {
    width: 100%;
  }
  #platform-redesign .lx {
    display: none;
  }
  #platform-redesign .md {
    display: block;
  }
}
@media (max-width: 572px) {
  #platform-redesign .conclusions .conclusions-cards {
    flex-direction: column;
  }
  #platform-redesign .conclusions .conclusions-cards .card {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */
